<!DOCTYPE html>
<html manifest="/site.manifest" lang="en">

<head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="maurin lenglart" content="">
    <script type="text/javascript" src="javascripts/extern/knockback-full-stack.min.js"></script>
    <script type="text/javascript" src="javascripts/extern/jquery.min.js"></script>
    <script data-main="javascripts/main" src="javascripts/extern/require.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datepicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/ui.daterangepicker.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/jquery-ui.css" />
    <link rel='stylesheet' type='text/css' href='css/fullcalendar.css' />
    <link rel='stylesheet' type='text/css' href='css/fullcalendar.print.css' media='print' />

    <!--limage qui ce charge pas vient de ce css-->

    <style type="text/css">
        body {
            padding-top: 60px;
            /* 60px to make the container go all the way
                 to the bottom of the topbar */
        }
        #ui-datepicker-div, .ui-datepicker{ font-size: 90%; }
    </style>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images//ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images//ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-57-precomposed.png">


</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand hidden-phone" href="#" >
                Daily-events
            </a>
            <a class="brand visible-phone" href="#" >
                D-E
            </a>
            <div id="menu">

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="into">

    </div>

    <hr style=" clear: both;">
    <div>
        © daily-Event 2012
    </div>
</div>

</body>
</html>