<div>
    <h3> Votre Event</h3>

    <div id="testIsLogged" >
        <p data-bind="ifnot: IsLogged" class="text-warning">Vous devez vous connecter pour rejoindre cet evenement</p>

        <div data-bind="if: IsLogged">
            <div data-bind="if: IsCreator">
                <form id="joinEvent">
                    <button type="submit" id='submit' class="btn">Rejoindre l'evenement</button>
                </form>
            </div>
       </div>
    </div>


    <ul class="unstyled well" id="eventDescription">
        <li> Titre: <span data-bind="text : Name" /> </li>
        <li> Description: <span data-bind="text : Description" /> </li>
        <li> Adresse: <span data-bind="text : Address" /> </li>
        <li> Date de debut: <span data-bind="text : Date" /> </li>
        <li> Date de fin: <span data-bind="text : DateEnd" /> </li>
    </ul>
</div>
