<!-- Formulaire ajout Event a finir-->
<form class="form" id="message">
    <input type="text" id="subject" placeholder="titre" data-bind="value: title"/><br/>
    <input type="text" id="subject" placeholder="titre" data-bind="value: title"/><br/>
    <input type="text" id="subject" placeholder="titre" data-bind="value: title"/><br/>
    <input type="text" id="subject" placeholder="titre" data-bind="value: title"/><br/>
    <input type="text" id="subject" placeholder="titre" data-bind="value: title"/><br/>
    <input type="text" id="subject" placeholder="titre" data-bind="value: title"/><br/>
    <input type="text" id="subject" placeholder="titre" data-bind="value: title"/><br/>
    <input type="hidden" id="sender_id" data-bind="value: sender_Id"/>
    <button type="submit" class="btn">Envoyer</button>
</form>
