<div>
    <h3> Votre Event</h3>

    <div id="testIsLogged" >
        <p data-bind="ifnot: IsLogged" class="text-warning">Vous devez vous connecter pour rejoindre cet evenement</p>

        <div data-bind="if: IsLogged">
            <div data-bind="ifnot: IsCreator">
                <div data-bind="ifnot: IsMember">
                <form id="joinEvent">
                    <button type="submit" id='submit' class="btn">Rejoindre l'evenement</button>
                </form>
            </div>
            </div>
       </div>
    </div>


    <div class="row-fluid">
        <div class="span6">

            <ul class="unstyled well" id="eventDescription">
                <li> Titre: <span data-bind="text : Name" /> </li>
                <li> Description: <span data-bind="text : Description" /> </li>
                <li> Adresse: <span data-bind="text : Address" /> </li>
                <li> Date de debut: <span data-bind="text : Date" /> </li>
                <li> Date de fin: <span data-bind="text : DateEnd" /> </li>
            </ul>
        </div>


        <div class="span6 unstyled well">
            <form id="addComment" class="form-inline">
                <input type="text" id="comment" placeholder="Commentaire">
                <button type="submit" id="submitComment"class="btn">Ajouter le commentaire</button>
            </form>
            <ul class="unstyled " id="comments" data-bind="foreach: comments">
                <li>
                    <span data-bind="text: Comment"> </span>

                </li>
            </ul>

        </div>


        <div class="span6 well" style="clear: both; margin-left: 0px;">
            <div id="creator">
                <strong>Créateur</strong>
                <hr style="margin: 5px 0;">
                <span data-bind="text: creator.err"> </span>
                <ul class="unstyled ">
                    <li>
                        <span data-bind="text: creator.Name"> </span>
                        <span data-bind="text: creator.Surname"> </span>
                        <span data-bind="text: creator.Email"> </span>
                    </li>
                </ul>
            </div>
            <div id="listMembers" >
                <strong>Liste des membres</strong>
                <hr style="margin: 5px 0;">
                <ul class="unstyled " data-bind="foreach: members">
                    <li>
                        <span data-bind="text: Name"> </span>
                        <span data-bind="text: Surname"> </span>
                        <span data-bind="text: Email"> </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>



</div>
