<form class="form-inline well">
    <fieldset>
        <label class="control-label" for="event">Titre de votre évènement :</label>
        <input type="text" id="event" class="search-query" required><br/><br/>
        <label class="control-label" for="eventDesc">Description de votre évènement :</label>
        <input type="text" id="eventDesc" class="search-query" required><br/><br/>
        <label for="startDate" class="control-label">Date de départ : </label>
        <input type="text" name="enDate" id="startDate" value="" required="">
        <label for="endDate" class="control-label">Date de retour : </label>
        <input type="text" id="endDate" value="" required/><br/><br/>
        <label class="control-label" for="inputPlace">Lieu :</label>

        <input type="text" id="inputPlace" class="search-query" required><br/><br/>
        <button type="submit" id='Search' class="btn">Rechercher</button>
    </fieldset>
</form>


<div id="map" class="img-polaroid"  ></div>
        <!--test-->