<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5 hidden-phone" >
            <form class="form-horizontal" id="inscription">
                <div class="control-group">
                    <label class="control-label" for="inputName">Nom :</label>

                    <div class="controls">
                        <input type="text" id="inputName" placeholder="Votre nom" data-bind="value: Name" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputSurname">Prénom :</label>

                    <div class="controls">
                        <input type="text" id="inputSurname" placeholder="Votre prénom" data-bind="value: Surname"
                               required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Adresse e-mail :</label>

                    <div class="controls">
                        <input type="email" id="inputEmail" placeholder="Votre adresse e-mail:" data-bind="value: Email"
                               required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Saisissez à nouveau votre e-mail :</label>

                    <div class="controls">
                        <input type="email" id="inputEmail2" placeholder="E-mail" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Mot de passe :</label>

                    <div class="controls">
                        <input type="password" id="inputPassword2" placeholder="Votre mot de passe :"
                               data-bind="value: Password" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Saisissez à nouveau votre e-mail :</label>

                    <div class="controls">
                        <input type="password" id="inputPassword" placeholder="Mot de passe" required>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn" id="submit">Valider</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="shearchEvent" class="span7">
            <form class="form-inline well">
                <div id="alerte" class="alert alert-error" style="display:none"><strong>La date de retour doit être
                    postérieure à la date de départ !</strong></div>
                <fieldset>
                    <label class="control-label" for="inputEvent">Evenement :</label>
                    <input type="text" id="inputEvent" class="search-query" required>
                    <label for="start" class="control-label">Date de départ : </label>
                    <input id="start" type="text" class="input-mini" data-date-format="dd/mm/yy" required>
                    <br/><br/>
                    <label class="control-label" for="inputPlace">Lieu :</label>
                    <input type="text" id="inputPlace" class="search-query" required>
                    <label for="end" class="control-label">Date de retour : </label>
                    <input id="end" type="text" class="input-mini" data-date-format="dd/mm/yy" required>
                    <button type="submit" id='Search' class="btn">Search</button>
                </fieldset>

            </form>

            <div id="map" class="img-polaroid"  ></div>

        </div>
        </div>

    </div>