<ul class="nav">
    <li>
        <a href="#">
            Accueil
        </a>
    </li>
    <li>
        <a href="#">
            Un plus sur nous
        </a>
    </li>
    <li>
        <a href="#">
            Contact
        </a>
    </li>
</ul>
<form id="login" class="navbar-form pull-right">
    <input name="textinput1" class="span2" type="email" placeholder="Email" id='logEmail'>
    <input name="textinput2" class="span2" type="password" placeholder="Mot de passe" id="logPassword">
    <button class="btn">
        Connexion
    </button>
</form>