<ul class="nav hidden-phone">
    <li>
        <a href="#">
            Accueil
        </a>
    </li>
    <li>
        <a href="#event">
            Evenements
        </a>
    </li>
    <li>
        <a href="#">
            Emploi du temps
        </a>
    </li>
</ul>
<ul class="nav visible-phone">
    <li>
        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown">
            Menu
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>
                <a href="#message">
                    Messages
                </a>
            </li>
            <li>
                <a href="#event">
                    Evenements
                </a>
            </li>
            <li>
                <a href="#">
                    Emploie du temps
                </a>
            </li>
        </ul>
    </li>
</ul>


<button id='disconnect' class="btn navbar-form pull-right btn btn-primary">
    Deconnecter
</button>
