<div class="hidden-phone">
    <ul class="nav" >
        <li>
            <a href="#searchEvent">
                Evenements
            </a>
        </li>
        <li>
            <a href="#createEvent">
                Créer un Evenement
            </a>
        </li>
        <li>
            <a href="#myEvents">
                Emploi du temps
            </a>
        </li>
    </ul>

</div>

<div class="visible-phone">
    <button type="button" class="btn btn-navbar collapsed" onclick="$('#divToSlide').toggle(500);" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div>
    <button id="disconnectButtonMenu" class="btn navbar-form pull-right btn btn-primary">
            Deconnecter
    </button>
</div>
<div class="visible-phone">
    <div style="height: auto;display: none;" id="divToSlide" class="nav-collapse collapse">
        <ul class="nav">
            <li class="">
                <a href="#searchEvent">
                    Evenements
                </a>
            </li>
            <li>
                <a href="#createEvent">
                    Créer un Evenement
                </a>
            </li>
            <li class="">
                <a href="#myEvents">
                    Emploi du temps
                </a>
            </li>
        </ul>
    </div>
</div>




