<ul class="nav hidden-phone">
    <li>
        <a href="#">
            Accueil
        </a>
    </li>
    <li>
        <a href="#inscription">
            Inscription
        </a>
    </li>
    <li>
        <a href="#">
            Emploi du temps
        </a>
    </li>
</ul>
<ul class="nav visible-phone">
    <li>
        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown">
            Menu
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>
                <a href="#message">
                    Messages
                </a>
            </li>
            <li>
                <a href="#searchEvent">
                    menu2
                </a>
            </li>
            <li>
                <a href="#">
                    menu3
                </a>
            </li>
        </ul>
    </li>
</ul>
<form id="login" class="navbar-form pull-right">
    <input name="textinput1" class="span2" type="email" placeholder="Email" id='logEmail'>
    <input name="textinput2" class="span2" type="password" placeholder="Mot de passe" id="logPassword">
    <button class="btn">
        Connexion
    </button>
</form>