<div class="container-fluid">
    <div class="row-fluid">
        <div class="row">
            <div class="span12">
                <form id="searchEvent" class="form-inline well">
                    <fieldset>
                        <label for="startDate" class="control-label">Date de l'evenement : </label>
                        <input id="startDate" type="text" class="input-mini"  data-date-format="dd/mm/yy" required>
                        <label class="control-label" for="inputPlace">Lieu :</label>
                        <input type="text" id="inputPlace" class="search-query" required>
                        <button type="submit" id='Search' class="btn">Search</button>
                    </fieldset>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="span5">
                <div class="list" id="myList"></div>
            </div>
            <div class="span7">
                <div id="map" class="img-polaroid "></div>
            </div>
        </div>
    </div>

</div>