<div class="container-fluid">
    <h3>Inscription</h3>
    <hr>
    <div class="row-fluid">
        <div class="span5 " >
            <form class="form-horizontal" id="inscription">
                <div class="control-group">
                    <label class="control-label hidden-phone" for="inputName">Nom :</label>

                    <div class="controls">
                        <input type="text" id="inputName" placeholder="Votre nom" data-bind="value: Name" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden-phone" for="inputSurname">Prénom :</label>

                    <div class="controls">
                        <input type="text" id="inputSurname" placeholder="Votre prénom" data-bind="value: Surname"
                               required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden-phone" for="inputEmail">Adresse e-mail :</label>

                    <div class="controls">
                        <input type="email" id="inputEmail" placeholder="Votre adresse e-mail:" data-bind="value: Email"
                               required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden-phone" for="inputEmail">Saisissez à nouveau votre e-mail :</label>

                    <div class="controls">
                        <input type="email" id="inputEmail2" placeholder="E-mail" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden-phone" for="inputPassword">Mot de passe :</label>

                    <div class="controls">
                        <input type="password" id="inputPassword2" placeholder="Votre mot de passe :"
                               data-bind="value: Password" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden-phone" for="inputPassword">Saisissez à nouveau votre e-mail :</label>

                    <div class="controls">
                        <input type="password" id="inputPassword" placeholder="Mot de passe" required>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn" id="submit">Valider</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="description" class="span7">
            <h4> En vous inscrivant vous aurez accès a plein de nouvelle fonctionnalités!!!</h4>
            <ul>
                <li>Crée de nouveau évènements</li>
                <li>Retrouver les évènements auquel vous vous êtes déjà inscrits </li>
                <li>Trouver plus facilement les évènements a venir qui peuvent vous intéresse</li>
                <li>Voyer ce que vos amis font et organiser des évènements avec eux</li>
            </ul>
        </div>
    </div>

</div>