<div class="container-fluid">
    <div class="row-fluid">
        <div class="row">
            <div class="span12">
                <form id="searchEvent" class="form-inline well">
                    <fieldset>

                        <label for="startDate" class="control-label">Choisir une date : </label>
                        <i class="icon-calendar icon-large" style="margin-left: 9px; margin-right: 2px; padding-left: 0px; z-index: 1; position: relative; margin-top: 3px;"></i>
                        <input id="startDate" type="text" style="padding-left: 27px; margin-left: -29px;width:160px;" >

                        <label class="control-label" for="inputPlace">Lieu :</label>
                        <input type="text" id="inputPlace" style="width: 350px;" required>

                        <button type="submit" id='Search' class="btn">Search</button>

                        <a id="buttonSlide" class="btn btn-small" style="float:right" href="#"> <i class="icon-chevron-down icon-large"></i></a>


                        <br>
                        <div id="filter">
                            <br>
                            <div style="width: 250px;float:left;">
                                <select id="categorie">
                                    <option value="categorie" selected>Categorie</option>
                                    <option value="Toutes">Toutes</option>
                                    <option value="Concert">Concert</option>
                                    <option value="Soirée">Soirée</option>
                                    <option value="Festival">Festival</option>
                                    <option value="Spectacle">Spectacle</option>
                                    <option value="Sport">Sport</option>
                                    <option value="Salon">Salon</option>
                                </select>
                            </div>

                            <div id="v-slider" style="width: 250px;float:left;margin-top: 9px;">
                            </div>
                            <div style="float: left; margin-left: 20px;">
                                <label for="amount">Distance : </label>
                                <span id="amount" class="uneditable-input" style="width: 25px;text-align:right;"></span>
                            </div>
                        </div>


                    </fieldset>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="span5">
                <div class="list padding" id="myList"></div>
            </div>
            <div class="span7">
                <div id="map" class="img-polaroid "></div>
            </div>
        </div>
    </div>

</div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 data-bind="text: Name"></h3>
    </div>
    <div class="modal-body">
        <p>Description: <span data-bind="text: Description"></span></p>
        <p>Date de debut: <span data-bind="text: Date"></span></p>
        <p>Adresse: <span data-bind="text: Address"></span></p>
        <p>Categorie: <span data-bind="text: Type"></span> </p>
        <p data-bind="if: HasCreator"> <a onclick="$('#myModal').modal('hide');" data-bind="attr: { href: Link}">Plus d'info</a></p>
        <p data-bind="ifnot: HasCreator"> <a target="_blank" onclick="$('#myModal').modal('hide');" data-bind="attr: { href: Link}">Plus d'info</a></p>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
    </div>
</div>